.page-header *{
  font-family: 'Roboto', sans-serif;
}
.header-container {
}
.header-title {}
.header-auth-button:hover {
  background: #ffffff21 !important;
}
.links-item-content {
  position: relative;
  user-select: none;
}
.links-item-underline {
  height: 2px;
  width: 100%;
  position: absolute;
  background: #ffffffb0;
  margin-top: 5px;
  transition: ease .3s ;
  opacity: 0;
  visibility: hidden;
}
.links-item-content:link,
.links-item-content:visited,
.links-item-content:hover,
.links-item-content:active {
  text-decoration: none;
  color: inherit;
}
.links-item-content:hover {
  cursor: pointer;
}
.links-item-content:hover .links-item-underline {
  opacity: 1;
  transition: opacity .1s linear;
  visibility: visible;
}