.home-page-container {
  width: 100%;
  height: calc(100vh - 64px);
  background: url('../../public/images/home-page-bg.jpg');
  background-size: 100% 100%;
  position: relative;
}
.home-page-container::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #2727278e;
}
.home-page-greeting-section {
  width: 100%;
  height: 100%;
}
.home-page-main-title {
  color: #000000b7 !important;
}

.home-page-about-section {
  width: 100%;
  height: 700px;
}
.home-page-products-section {
  width: 100%;
  height: 600px;
  background: #212121;
}
.home-page-contact-us-section {
  width: 100%;
  height: 400px;
}