.stocks-prediction-page-wrapper {
    width: 100%;
    height: calc(100vh - 64px);
    background: url('../../public/images/stock-market-bg.jpeg') no-repeat 0 0;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tool-card {
    width: 200px;
    height: 150px;
    background-size: cover;
}
.tool-card-stocks {
    background: url('../../public/images/tool-1.jpg') no-repeat 0 0;
}
.tool-card-indices {
    background: url('../../public/images/tool-2.jpg') no-repeat 0 0;
}
.tool-card-indices_futures {
    background: url('../../public/images/tool-3.jpg') no-repeat 0 0;
}
.tool-card-currencies {
    background: url('../../public/images/tool-4.jpg') no-repeat 0 0;
}
.tool-card-cryptocurrencies {
    background: url('../../public/images/tool-5.jpg') no-repeat 0 0;
}
.tool-card-commodities {
    background: url('../../public/images/tool-6.jpg') no-repeat 0 0;
}